{% block body %}
    <div class="box box-primary">
        {{ form_start(form) }}
        <div class="box-body">
            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
                <div class="form-error">
                    {{ form_errors(form.title) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.score) }}
                {{ form_widget(form.score) }}
                <div class="form-error">
                    {{ form_errors(form.score) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.skills) }}
                {{ form_widget(form.skills) }}
                <div class="form-error">
                    {{ form_errors(form.skills) }}
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}