{% extends 'template.html.twig' %}
{% block title %} Formulaire d'update {% endblock %}
{% block body %}
<div class="container-xxl flex-grow-1 container-p-y">
        <!-- Basic Layout & Basic with Icons -->
    <div class="row">
        <!-- Basic with Icons -->
        <div class="col-xxl">
            <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="mb-0"> De demande de congés</h5>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-email">user</label>
                        <div class="col-sm-10">
                            <div class="form-group">
                                <input value="{{ leave.userFrom.lastname }}" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-email">user</label>
                        <div class="col-sm-10">
                            <div class="form-group">
                                <input value="{{ leave.userTo.lastname }}" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-email">aaa</label>
                        <div class="col-sm-10">
                            <div class="form-group">
                                <input value="{{ leave.leaveType.name }}" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-email">Date début</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input value="{{ leave.startDate.format('d-m-Y') }}" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-email">Date fin</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <input  value="{{ leave.endDate.format('d-m-Y') }}" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-email">{{ form_label(form.status) }}</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
{#                                <span class="input-group-text"><i class="bx bx-"></i></span>#}
                                {{ form_widget(form.status, {'attr' : {'class' : 'form-select'}}) }}
                                <div class="form-error">
                                    {{ form_errors(form.status) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

