<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ asset ('images/' ~ app.user.image) }}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{ app.user.lastname }}</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                {#   just ena n7ab naaref chkoun connectée#}
                {% for role in app.user.role  %}
                    {{ role }}
                {% endfor %}
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                          <i class="fa fa-search"></i>
                        </button>
                      </span>
            </div>
        </form>
        <!-- /.search form -->


        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview menu-open">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    <span class="pull-right-container">
                                  <i class="fa fa-angle-left pull-right"></i>
                                </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path ('home_index') }}"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
{#                    <li class="active"><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>#}
                </ul>
            </li>
        </ul>
        {% if is_granted('ROLE_ADMIN') %}
            <ul class="sidebar-menu" data-widget="tree">
                <li class="treeview active">
                    <a href="#">
                        <i class="fa fa-edit"></i> <span>Users</span>
                        <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path("user_index") }}"><i class="fa fa-circle-o"></i> Consulter Users</a></li>
                    </ul>
                </li>
            </ul>
        {% endif %}
        {% if is_granted('ROLE_RH') %}
            <ul class="sidebar-menu" data-widget="tree">
                <li class="treeview active">
                    <a href="#">
                        <i class="fa fa-edit"></i> <span>Contrats</span>
                        <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path("contrat_index") }}"><i class="fa fa-circle-o"></i> Consulter Contrats</a></li>
                    </ul>
                </li>
            </ul>
        {% endif %}
        <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>Projets</span>
                    <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path("project_index") }}"><i class="fa fa-circle-o"></i> Consulter Projets</a></li>
                </ul>
            </li>
        </ul>
        {% if is_granted('ROLE_ADMIN') %}
            <ul class="sidebar-menu" data-widget="tree">
                <li class="treeview active">
                    <a href="#">
                        <i class="fa fa-edit"></i> <span>Skills</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path("skills_index") }}"><i class="fa fa-circle-o"></i> Consulter Skills</a></li>
                    </ul>
                </li>
            </ul>
        {% endif %}
{#        <ul class="sidebar-menu" data-widget="tree">#}
{#            <li class="treeview active">#}
{#                <a href="#">#}
{#                    <i class="fa fa-edit"></i> <span>Sprint</span>#}
{#                    <span class="pull-right-container">#}
{#                                    <i class="fa fa-angle-left pull-right"></i>#}
{#                                </span>#}
{#                </a>#}
{#                <ul class="treeview-menu">#}
{#                    <li><a href="{{ path("sprint_index") }}"><i class="fa fa-circle-o"></i> Consulter Sprint</a></li>#}
{#                </ul>#}
{#            </li>#}
{#        </ul>#}
        <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>Tâches</span>
                    <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path("task_index") }}"><i class="fa fa-circle-o"></i> Consulter Tâches</a></li>
                </ul>
            </li>
        </ul>
        <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-calendar"></i> <span>Calendrier</span>
                    <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path("home_index") }}"><i class="fa fa-circle-o"></i> Consulter </a></li>
                </ul>
            </li>
        </ul>
        <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>Congés</span>
                    <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path("leave_index") }}"><i class="fa fa-circle-o"></i> Consulter les congés </a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>