{% extends 'template.html.twig' %}
{% block body %}
    <div class="container text-center mt-4">
        <h1>voir les tâches du {{ project.name }} </h1>
    </div>
    <section class="content">
        <div class="container">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Table {{ project.name }}</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for task in tasks %}
                                <tr>
                                    <td>{{ task.taskname }}</td>
                                    <td>{{ task.status}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
{% endblock %}
