{% extends 'template.html.twig' %}

{% block title %} Details de : {{ quiz.name}} {% endblock %}

{% block body %}
    <div class="container text-center mt-4">
        <h3 class="fw-bold py-3 mb-4">
            <span class="text-muted fw-light">
                Les technologies du ce quiz :
            {% for skills in quiz.skills %}
                {{ skills.name }}
                {% if not loop.last %} , {% endif %}
            {% endfor %}
            </span>
        </h3>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="card col mx-1">
            <div class="box-header">
                <h5 class="card-header">Liste des users affecter à ce quiz</h5>
            </div>

            <div class="table-responsive text-nowrap m-2">
                <table class="table table-hover table-sm">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>name</th>
                    </tr>
                    </thead>
                    <tbody id="myTable" class="table-border-bottom-0">
                    {% for user in quiz.users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.lastname}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card col mx-1">
            <div class="box-header">
                <h5 class="card-header">Liste Suggestion Users</h5>
            </div>

            <div class="table-responsive text-nowrap m-2">
                <table class="table table-hover table-sm">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>name</th>
                        <th>Technologies</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody id="myTable" class="table-border-bottom-0">
                    {% for user in suggestedUsers %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.lastname}}</td>
                            <td>
                                {% for skills in user.skills  %}
                                    {{ skills.name }}
                                    {% if not loop.last %}
                                        ,
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                <a  class="btn btn-sm btn-outline-primary" href="{{ path('affectuser', {'id': quiz.id, 'userId': user.id}) }}" > Add </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="demo-inline-spacing">
            <!-- Basic Pagination -->
            <nav aria-label="Page navigation">
                <ul class="pagination d-flex text-center ">
                    <a class="btn btn-sm btn-outline-danger" href="{{ path("quiz_index" , {"id": quiz.id} ) }}"  style="display: inline-block"> <i class="bx bx-log-out me-2"></i>Back To..  </a>
                </ul>
            </nav>
        </div>
        <div class="content-backdrop fade"></div>
    </div>
{% endblock %}
