{% extends 'template.html.twig' %}

{% block title %} Questions possible pour quiz : {{ quiz.name}} {% endblock %}

{% block body %}
    <div class="container text-center mt-4">
        <h3 class="fw-bold py-3 mb-4">
            <span class="text-muted fw-light">
                Les technologies du ce quiz :
            {% for skills in quiz.skills %}
                {{ skills.name }}
                {% if not loop.last %} , {% endif %}
            {% endfor %}
            </span>
        </h3>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>

    <div class="card col-lg-9">
        <div class="box-header">
            <h5 class="card-header">Suggestion Question Table</h5>
            <a  class="modal-effect btn btn-sm btn-outline-primary" href="{{ path("update_quiz", {"id": quiz.id}) }}" style="margin-left: 2%" > Mise à jour  </a>
        </div>

        <div class="table-responsive text-nowrap m-2">
            <table class=" table table-hover table-sm">
                <thead>
                <tr>
                    <th>question</th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0" id="myTable">
                {% for questions in allQuestions %}
                    <tr>
                        <td>{{ questions.title }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="demo-inline-spacing">
            <!-- Basic Pagination -->
            <nav aria-label="Page navigation">
                <ul class="pagination d-flex text-center ">
                    <a class="btn btn-sm btn-outline-danger" href="{{ path("quiz_index" , {"id": quiz.id} ) }}"  style="display: inline-block"> <i class="bx bx-log-out me-2"></i>Back To..  </a>
                </ul>
            </nav>
        </div>
        <div class="content-backdrop fade"></div>
    </div>

{% endblock %}
