{% extends 'template.html.twig' %}

{% block title %}Participer au Quiz {% endblock %}

 {% block stylesheets %}
     <style>
         #timer {
             font-weight: bold;
             font-size: 2em;
         }
     </style>
 {% endblock %}

{% block body %}
    <div class="container text-center mt-4">
        <h1>Nom de quiz : {{ quiz.name }}</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-xxl">
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">
                            {# aafiicher le chrono#}
                            <div id="timer"></div>
                            <input type="hidden" id="time" value="{{ quiz.time|date('i') }}">
                        </h5>
                    </div>
                    <div class="card-body">
                        <form action="{{ path('quiz_participate' , { 'id' : quiz.id }) }}" class="quiz" method="post" >
                            <ol>
                                {% for question in suggestedQuestions %}
                                    <li>
                                        <input type="hidden" name="question[]" value="{{ question.id }}">
                                        {{ question.title}}
                                        <ul>
                                            {% for reponse in question.reponses %}
                                                <li>
                                                    <input type="checkbox" name="reponse[{{ question.id }}][{{ reponse.id }}]" id="{{ reponse.id }}">
                                                    {{reponse.title  }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ol>
                            <div class="row justify-content-end">
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
