<div class="box box-primary">
    {#    <div class="box-header with-border">#}
    {#        <h3 class="box-title">Quick Example</h3>#}
    {#    </div>#}
    <!-- /.box-header -->
    <!-- form start -->
    {{ form_start(form) }}
    <div class="box-body">
        <div class="form-group">
            {{ form_label(form.status) }}
            {{ form_widget(form.status) }}
            <div class="form-error">
                {{ form_errors(form.status) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.duree) }}
            {{ form_widget(form.duree) }}
            <div class="form-error">
                {{ form_errors(form.duree) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.typeContrat) }}
            {{ form_widget(form.typeContrat) }}
            <div class="form-error">
                {{ form_errors(form.typeContrat) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.date_debut) }}
            {{ form_widget(form.date_debut) }}
            <div class="form-error">
                {{ form_errors(form.date_debut) }}
            </div>
        </div>
        {% if form.date_fin is defined %}
        <div class="form-group">
            {{ form_label(form.date_fin) }}
            {{ form_widget(form.date_fin) }}
            <div class="form-error">
                {{ form_errors(form.date_fin) }}
            </div>
        </div>
        {% endif %}
    </div>
    <!-- /.box-body -->

    <div class="box-footer">
        <input type="submit" class="btn btn-primary" value="{{ button }}"/>
    </div>
    {{ form_end(form) }}
</div>