{% extends 'template.html.twig' %}

{% block title %} Les Contrats {% endblock %}

{% block body %}
    <div class="card">
        <div class="box-header">
            <h5 class="card-header">Liste des contrats
                {% if is_granted('ROLE_RH') or is_granted('ROLE_ADMIN') %}
                    <a  class="btn btn-sm btn-outline-success" href={{ path("create_contrat") }}>Ajouter</a>
                {% endif %}
            </h5>
            <div class="row justify-content-end my-4">
                <div class="col">
                    <div class="container">
                        {{ form_start(form) }}
                        <div class="form-group ">
                            <div class="row">
                                <div class="col-lg-3 col-2">
                                    {{ form_row(form.user) }}
                                </div>
                                <div class="col-lg-3 col-2">
                                    {{ form_row(form.typeContrat) }}
                                </div>
                                <div class="col-lg-3 col-3 pt-4">
                                    <button class="btn btn-primary">Rechercher</button>
                                </div>
                                <div class="col-lg-3 col-3" hidden>
                                    {{ form_rest(form) }}
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="box-tools col-3">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input id="search" type="text" placeholder="Search..">
                    </div>
                </div>

            </div>
        </div>

        <div class="table-responsive text-nowrap m-2">
            <table class="table table-hover table-sm">
                <thead>
                <tr>
                    <th>Users</th>
                    <th>status</th>
                    <th>duree</th>
                    <th>type</th>
                    <th>date_debut</th>
                    <th>date_fin</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>Actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody id="myTable" class="table-border-bottom-0">
                {% for contrat in contrats %}
                    <tr>
                        <td>
                            <i class="fab fa-angular fa-lg text-danger me-3"></i>
                            <strong>
                                {% if contrat.user %}
                                    {{ contrat.user.lastname }}
                                {% endif %}
                            </strong>
                        </td>
                        <td>
                            <span class="badge {% if (contrat.status == "En Cours") %} bg-label-warning
                                    {% elseif( contrat.status == "Résilié") %} bg-label-danger
                                    {% else %} bg-label-primary  {% endif %} me-1">
                                {{ contrat.status}}
                            </span>
                        </td>
                        <td>{{ contrat.duree}}</td>
                        <td>{{ contrat.typeContrat.name}}</td>
                        <td>{{ contrat.datedebut|date('d/m/Y')}}</td>
                        <td>{{ contrat.datefin|date('d/m/Y')}}</td>
                        <td >
                            {% if is_granted('ROLE_RH') or is_granted('ROLE_ADMIN') %}
                                <a  class="btn btn-sm btn-outline-info {% if (contrat.status == "Résilié") or (contrat.status == "Archivé") %}disabled{% endif %}"
                                    href="{{ path("edit_contrat", {"id": contrat.id}) }}"
                                    data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"  title="" data-bs-original-title="Edit"
                                > <i class="bx bx-edit-alt me-1 "></i></a>

                                <button  class="btn btn-sm btn-outline-danger "
                                         title="dddd" data-bs-toggle="modal" data-bs-target="#modalToggle{{ contrat.id }}" data-popup="tooltip-custom" data-bs-placement="top"  title="" data-bs-original-title="Delete"
                                ><i class="bx bx-trash me-1"></i></button>

                                <div class="modal fade" id="modalToggle{{ contrat.id }}" aria-labelledby="modalToggleLabel" tabindex="-1" style="display: none" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                Êtes-vous sûr de pour supprimer ce contrat ???
                                            </div>
                                            <div class="modal-footer">
                                                <a   class="btn btn-sm btn-danger" href="{{ path("delete_contrat", {"id": contrat.id}) }}">Confirmer
                                                </a>
                                                <a class="btn btn-sm btn-outline-secondary" data-bs-target="#modalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">
                                                    Annuller
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="content-wrapper">
            <div class="demo-inline-spacing">
                <!-- Basic Pagination -->
                <nav aria-label="Page navigation">
                    <ul class="pagination d-flex text-center justify-content-center">
                        {{ knp_pagination_render(contrats) }}
                    </ul>
                </nav>
            </div>
            <div class="content-backdrop fade"></div>
        </div>
    </div>



    <script>
        $(document).ready(function(){
            $("#search").on("keyup", function() {
                var value = $(this).val().toLowerCase();

                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

{% endblock %}
