{% extends 'template.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container text-center mt-4">
        <h1>Voir details du {{ project.name}} </h1>
        <h3> Technologies du projet :
            {% for skills in project.skills %}
                {{ skills.name }}
            {% endfor %}
        </h3>
    </div>
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">tableau des users affecter à ce projet </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>name</th>
                            </tr>
                            </thead>
                            <tbody id="myTable">
                            {% for user in project.users %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.lastname}}</td>
                                    <td>
                                        <a  class="btn btn" href="{{ path('remove_user', {'id': project.id, 'userId': user.id}) }}" > Remove </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Suggestion Users Table</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>name</th>
                                <th>Technologies</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody id="myTable">
                            {% for user in suggestedUsers %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.lastname}}</td>
                                    <td>
                                        {% for skills in user.skills  %}
                                            {{ skills.name }}
                                            {% if not loop.last %}
                                                ,
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <a  class="btn btn" href="{{ path('affect_user', {'id': project.id, 'userId': user.id}) }}" > Add </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <a  class="btn btn-danger" href={{ path("project_index" , {"id": project.id} )}}, style="display: inline-block"> Back To  </a>
                <!-- /.box -->
            </div>
        </div>
    </section>
{% endblock %}
