{% extends 'template.html.twig' %}

{% block title %}les utilisateurs {% endblock %}

{% block body %}
    <div class="card">
        <div class="box-header">
            <h5 class="card-header">Liste des utilisateurs  <a  class="btn btn-sm btn-outline-success" href={{ path("create_user") }}>Créer</a></h5>
            <div class="row justify-content-end my-4">
            <div class="col">
                <div class="container">
                    {{ form_start(form) }}
                    <div class="form-group ">
                        <div class="row">
                            <div class="col-lg-3 col-2">
                                {{ form_row(form.role) }}
                            </div>
                            <div class="col-lg-3 col-3 pt-4">
                                    <button class="btn btn-primary">Rechercher</button>
                            </div>
                            <div class="col-lg-3 col-3" hidden>
                                {{ form_rest(form) }}
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>

            </div>
            <div class="box-tools col-3">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <input id="myInput" type="text" placeholder="Search..">
                </div>
            </div>

            </div>
        </div>

        <div class="table-responsive text-nowrap m-2">
            <table class="table table-hover table-sm">
                <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Technologies</th>
                    <th>Rôle</th>
                    <th>Email</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                {% for user in users %}
                    <tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ user.firstname}}</strong></td>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ user.lastname}}</strong></td>
                        <td>
                            {% for skills in user.skills  %}
                                {{ skills.name }}
                                {% if not loop.last %} , {% endif %}
                            {% endfor %}
                        </td>
                         <td>
                             {% for role in user.role  %}
                                 {{ role }}
                             {% endfor %}
                         </td>
                         <td>{{ user.email}}</td>
                        <td>
                            <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" title="" data-bs-original-title="{{ user.firstname}}">
                                    <img src="{{ asset('images/'~user.image) }}" alt="Avatar" class="rounded-circle">
                                </li>
                            </ul>
                        </td>
                        <td >
                            <a  class="btn btn-sm btn-outline-info" href="{{ path("edit_user", {"id": user.id}) }}"
                                data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"  title="" data-bs-original-title="Edit"
                            ><i class="bx bx-edit-alt me-1 "></i></a>
                            <a  class="btn btn-sm btn-outline-danger" onclick="return confirm('Etes vous sur ???');" href="{{ path("delete_user", {"id": user.id}) }}"
                                data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"  title="" data-bs-original-title="Delete"
                            ><i class="bx bx-trash me-1"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="content-wrapper">
            <div class="demo-inline-spacing">
                <!-- Basic Pagination -->
                <nav aria-label="Page navigation">
                    <ul class="pagination d-flex text-center justify-content-center">
                        {{ knp_pagination_render(users) }}
                    </ul>
                </nav>
            </div>
            <div class="content-backdrop fade"></div>
        </div>
    </div>




    <section class="content">
{#        <div class="container">#}
{#            {% for message in app.flashes('success') %}#}
{#                <div class="alert alert-success">#}
{#                    {{ message }}#}
{#                </div>#}
{#            {% endfor %}#}
{#            {% for message in app.flashes('error') %}#}
{#                <div class="alert alert-danger">#}
{#                    {{ message }}#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}

    </section>

    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

{% endblock %}
