{% extends 'template.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container text-center mt-4">
        <h1>voir tous les skills</h1>
    </div>


    <section class="content">
        <div class="container">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Skills Table</h3>
                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input id="myInput" type="text" placeholder="Search..">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a  class="btn btn-success" href={{ path("create_skills") }}>Créer</a>
                                    {% endif %}
                                </th>
                            </tr>
                            </thead>
                            <tbody id="myTable">
                            {% for skills in skills %}
                                <tr>
                                    <td>{{ skills.id }}</td>
                                    <td>{{ skills.name}}</td>
                                    <td >
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <a  class="btn btn-info" href={{ path("edit_skills", {"id": skills.id}) }}, style="display: inline-block"> Editer </a>
                                            <a  class="btn btn-danger" onclick="return confirm('Etes vous sur ???');
                                                " href={{ path("delete_skills", {"id": skills.id}) }} > Supprimer
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>

{% endblock %}
